### Importando as bibliotecas

In [136]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from dotenv import load_dotenv
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import MiniBatchKMeans
from sklearn.metrics import silhouette_score

### Puxando o df

In [137]:
load_dotenv()
processed = os.getenv("DATA_PROCESSED_PATH")
df = pd.read_parquet(processed)
df

,nk_ota_localizer_id,fk_contact,date_purchase,time_purchase,place_origin_departure,place_destination_departure,place_origin_return,place_destination_return,fk_departure_ota_bus_company,fk_return_ota_bus_company,gmv_success,total_tickets_quantity_success
0,bc02d5245bec63b30ff1102fa273fc03f58bc9cc3f674e...,a7218ff4ee7d37d48d2b4391b955627cb089870b934912...,2018-12-26,15:33:35,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,50e9a8665b62c8d68bccc77c7c92431a1aa26ccbd38ed4...,0,0,8527a891e224136950ff32ca212b45bc93f69fbb801c3b...,1,89.09,1
1,5432f12612dd5d749b3be880e779989cf63b5efa4bcc4e...,37228485e0dc83d84d1bcd1bef3dc632301bf6cb22c8b5...,2018-12-05,15:07:57,10e4e7caf8b078429bb1c80b1a10118ac6f963eff098fd...,e6d41d208672a4e50b86d959f4a6254975e6fb9b088116...,0,0,36ebe205bcdfc499a25e6923f4450fa8d48196ceb4fa0c...,1,155.97,1
2,fb3caed9b2f1b6016d45ccddb19095476e61a2c85faa8e...,3467ec081e2421e72c96e7203b929d21927fd00b6b5f28...,2018-12-21,18:41:54,7688b6ef52555962d008fff894223582c484517cea7da4...,8c1f1046219ddd216a023f792356ddf127fce372a72ec9...,0,0,ec2e990b934dde55cb87300629cedfc21b15cd28bbcf77...,1,121.99,1
3,4dc44a6dd592b702feccb493d192210c86965aee684529...,ab3251a2be0f69713b8f97b0e9d1579e31551f4fd4facf...,2018-12-06,14:01:38,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,d6acb3c1a79e57bcc03d976cb4d98f56edccd4cf426392...,0,0,5f9c4ab08cac7457e9111a30e4664920607ea2c115a143...,1,55.22,1
4,aa34ed7fd0a6b405df2df1bf9f8d68e6df9b9a868a6181...,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,2021-02-23,20:08:25,7688b6ef52555962d008fff894223582c484517cea7da4...,23765fc69c4e3c0b10f5d15471dc2245e2a19af16b513f...,0,0,48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c...,1,45.31,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1741339,4e4f5fcded3e8b6915e05c6b9b504ec6830f723a831f68...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-12-29,19:47:12,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,3068430da9e4b7a674184035643d9e19af3dc7483e31cc...,1,156.00,1
1741340,8bcfd696bb80f3433449c1442e4c6bab55d4bce9fe4311...,be5b840765a5a2e316478410777a949fb6210cfe310fdf...,2019-08-01,10:06:37,7688b6ef52555962d008fff894223582c484517cea7da4...,37834f2f25762f23e1f74a531cbe445db73d6765ebe608...,0,0,ec2e990b934dde55cb87300629cedfc21b15cd28bbcf77...,1,106.93,2
1741341,1924fa1e8daf5821b3d062ac29d1ba56c70a54b41a177b...,72b052cfc6d04db064a5723e2faee0296e09d5e59689f1...,2019-01-18,10:28:42,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,0,0,c17edaae86e4016a583e098582f6dbf3eccade8ef83747...,1,92.77,1
1741342,18b75368642c6c347fd00f56cd98322bb6d920b6a07545...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-01-08,23:57:55,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,294.99,1
1741343,113a96cafbc0fc70ab6cfba8bc017c57e720366265820c...,3b3d7594bde1223635a1f2fd8b547172e689ed8d711f84...,2023-01-14,21:40:39,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,158.95,1

### Pegando o range de data

In [138]:
data_max = df['date_purchase'].max()
data_min = df['date_purchase'].min()

print(f"Data range: {data_min} -> {data_max}")

Data range: 2013-09-12 00:00:00 -> 2024-04-01 00:00:00

### Qtd de vendas em cada ano

In [139]:
df['ano'] = df['date_purchase'].dt.year
df.groupby('ano')['fk_contact'].count()

ano
2013       341
2014     15182
2015     29651
2016     54618
2017     81354
2018    100277
2019    180935
2020    145669
2021    262649
2022    380073
2023    383163
2024    107425
Name: fk_contact, dtype: int64

### Receita gerada em cada ano

In [ ]:
df.groupby('ano')['gmv_success'].sum().round(2)

ano
2021    39339358.54
2022    63527848.61
2023    65351074.62
2024    19011906.55
Name: gmv_success, dtype: float64

In [141]:
anos_desejados = [2021, 2022, 2023, 2024]
df_filtrado = df[df['ano'].isin(anos_desejados)]

df_filtrado.shape

(1133310, 13)

### 2021 -> 2024 existe a maioria das vendas do df, então vamos pegar apenas essa maior parte do df

In [142]:
df = df[df['date_purchase'] >= '2021-01-01']
df

,nk_ota_localizer_id,fk_contact,date_purchase,time_purchase,place_origin_departure,place_destination_departure,place_origin_return,place_destination_return,fk_departure_ota_bus_company,fk_return_ota_bus_company,gmv_success,total_tickets_quantity_success,ano
4,aa34ed7fd0a6b405df2df1bf9f8d68e6df9b9a868a6181...,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,2021-02-23,20:08:25,7688b6ef52555962d008fff894223582c484517cea7da4...,23765fc69c4e3c0b10f5d15471dc2245e2a19af16b513f...,0,0,48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c...,1,45.31,1,2021
5,948356b25b90c0c87c147cead27483c481edda1dacc4c8...,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,2021-02-11,22:25:15,d26eae87829adde551bf4b852f9da6b8c3c2db9b65b8b6...,482d9673cfee5de391f97fde4d1c84f9f8d6f2cf0784fc...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,154.20,1,2021
6,2ee9d0978acb5e113d0b3f846ab3f88c5a426321da8f87...,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,2021-02-19,19:11:40,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,be47addbcb8f60566a3d7fd5a36f8195798e2848b36819...,0,0,1d0ebea552eb43d0b1e1561f6de8ae92e3de7f1abec523...,1,188.99,1,2021
9,929cd361c225ec5d3510e14e8582fdcc61a24383cdb7a7...,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,2021-07-02,11:41:19,90b5bc7f03c840b2efddb22ffdfc37dd12cb391b49aa0f...,f6103ca1e01bd200a9258a366b7e8c22a542e771bf11a0...,0,0,c6f3ac57944a531490cd39902d0f777715fd005efac9a3...,1,61.55,1,2021
10,f08c3f551a19f1ce13525825dbf0d0ce9c3492da92bbb2...,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,2022-07-14,10:16:52,20ca98162ba780883712eb701c84e4c06f73aba78e9039...,a77b6cbdf6fae1676369dea1e1ea675e4c2400c9e43bd5...,0,0,96061e92f58e4bdcdee73df36183fe3ac64747c81c26f6...,1,55.46,1,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1741337,52a39652c7b3db7eedbba20c16b4e68df6f514bec1ad79...,34bef92c568790d6e1e68a3ba24b89390395295a49783d...,2023-04-21,13:24:41,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,135.23,1,2023
1741338,655038f142aea0104f73671352b3304617b8d19801495a...,b79256341d874ddd572f6dabc83190ada87eea6262c81e...,2023-04-08,10:49:02,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,f32828acecb4282c87eaa554d2e1db74e418cd68458430...,1,183.92,1,2023
1741339,4e4f5fcded3e8b6915e05c6b9b504ec6830f723a831f68...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-12-29,19:47:12,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,3068430da9e4b7a674184035643d9e19af3dc7483e31cc...,1,156.00,1,2023
1741342,18b75368642c6c347fd00f56cd98322bb6d920b6a07545...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-01-08,23:57:55,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,294.99,1,2023
1741343,113a96cafbc0fc70ab6cfba8bc017c57e720366265820c...,3b3d7594bde1223635a1f2fd8b547172e689ed8d711f84...,2023-01-14,21:40:39,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,158.95,1,2023

### Volume financeiro no período

In [143]:
vlm_financeiro = df['gmv_success'].sum()
vlm_financeiro = round(vlm_financeiro, 2)
print(f"Volume financeiro: R${vlm_financeiro}")

Volume financeiro: R$187230188.32

### Criando coluna de qtd de compras de cada cliente

In [144]:
df['qtd_compras'] = df['fk_contact'].map(df['fk_contact'].value_counts())
df

C:\Users\pedro\AppData\Local\Temp\ipykernel_5096\2873861594.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['qtd_compras'] = df['fk_contact'].map(df['fk_contact'].value_counts())

,nk_ota_localizer_id,fk_contact,date_purchase,time_purchase,place_origin_departure,place_destination_departure,place_origin_return,place_destination_return,fk_departure_ota_bus_company,fk_return_ota_bus_company,gmv_success,total_tickets_quantity_success,ano,qtd_compras
4,aa34ed7fd0a6b405df2df1bf9f8d68e6df9b9a868a6181...,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,2021-02-23,20:08:25,7688b6ef52555962d008fff894223582c484517cea7da4...,23765fc69c4e3c0b10f5d15471dc2245e2a19af16b513f...,0,0,48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c...,1,45.31,1,2021,2
5,948356b25b90c0c87c147cead27483c481edda1dacc4c8...,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,2021-02-11,22:25:15,d26eae87829adde551bf4b852f9da6b8c3c2db9b65b8b6...,482d9673cfee5de391f97fde4d1c84f9f8d6f2cf0784fc...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,154.20,1,2021,3
6,2ee9d0978acb5e113d0b3f846ab3f88c5a426321da8f87...,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,2021-02-19,19:11:40,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,be47addbcb8f60566a3d7fd5a36f8195798e2848b36819...,0,0,1d0ebea552eb43d0b1e1561f6de8ae92e3de7f1abec523...,1,188.99,1,2021,5
9,929cd361c225ec5d3510e14e8582fdcc61a24383cdb7a7...,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,2021-07-02,11:41:19,90b5bc7f03c840b2efddb22ffdfc37dd12cb391b49aa0f...,f6103ca1e01bd200a9258a366b7e8c22a542e771bf11a0...,0,0,c6f3ac57944a531490cd39902d0f777715fd005efac9a3...,1,61.55,1,2021,8
10,f08c3f551a19f1ce13525825dbf0d0ce9c3492da92bbb2...,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,2022-07-14,10:16:52,20ca98162ba780883712eb701c84e4c06f73aba78e9039...,a77b6cbdf6fae1676369dea1e1ea675e4c2400c9e43bd5...,0,0,96061e92f58e4bdcdee73df36183fe3ac64747c81c26f6...,1,55.46,1,2022,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1741337,52a39652c7b3db7eedbba20c16b4e68df6f514bec1ad79...,34bef92c568790d6e1e68a3ba24b89390395295a49783d...,2023-04-21,13:24:41,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,135.23,1,2023,2
1741338,655038f142aea0104f73671352b3304617b8d19801495a...,b79256341d874ddd572f6dabc83190ada87eea6262c81e...,2023-04-08,10:49:02,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,f32828acecb4282c87eaa554d2e1db74e418cd68458430...,1,183.92,1,2023,14
1741339,4e4f5fcded3e8b6915e05c6b9b504ec6830f723a831f68...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-12-29,19:47:12,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,3068430da9e4b7a674184035643d9e19af3dc7483e31cc...,1,156.00,1,2023,59
1741342,18b75368642c6c347fd00f56cd98322bb6d920b6a07545...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-01-08,23:57:55,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,294.99,1,2023,59
1741343,113a96cafbc0fc70ab6cfba8bc017c57e720366265820c...,3b3d7594bde1223635a1f2fd8b547172e689ed8d711f84...,2023-01-14,21:40:39,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,158.95,1,2023,13

In [145]:
df['total_gasto'] = df.groupby('fk_contact')['gmv_success'].transform('sum')
df['total_gasto'] = df['total_gasto'].round(2)
df

C:\Users\pedro\AppData\Local\Temp\ipykernel_5096\1675898690.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_gasto'] = df.groupby('fk_contact')['gmv_success'].transform('sum')
C:\Users\pedro\AppData\Local\Temp\ipykernel_5096\1675898690.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_gasto'] = df['total_gasto'].round(2)

,nk_ota_localizer_id,fk_contact,date_purchase,time_purchase,place_origin_departure,place_destination_departure,place_origin_return,place_destination_return,fk_departure_ota_bus_company,fk_return_ota_bus_company,gmv_success,total_tickets_quantity_success,ano,qtd_compras,total_gasto
4,aa34ed7fd0a6b405df2df1bf9f8d68e6df9b9a868a6181...,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,2021-02-23,20:08:25,7688b6ef52555962d008fff894223582c484517cea7da4...,23765fc69c4e3c0b10f5d15471dc2245e2a19af16b513f...,0,0,48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c...,1,45.31,1,2021,2,85.92
5,948356b25b90c0c87c147cead27483c481edda1dacc4c8...,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,2021-02-11,22:25:15,d26eae87829adde551bf4b852f9da6b8c3c2db9b65b8b6...,482d9673cfee5de391f97fde4d1c84f9f8d6f2cf0784fc...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,154.20,1,2021,3,576.64
6,2ee9d0978acb5e113d0b3f846ab3f88c5a426321da8f87...,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,2021-02-19,19:11:40,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,be47addbcb8f60566a3d7fd5a36f8195798e2848b36819...,0,0,1d0ebea552eb43d0b1e1561f6de8ae92e3de7f1abec523...,1,188.99,1,2021,5,750.89
9,929cd361c225ec5d3510e14e8582fdcc61a24383cdb7a7...,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,2021-07-02,11:41:19,90b5bc7f03c840b2efddb22ffdfc37dd12cb391b49aa0f...,f6103ca1e01bd200a9258a366b7e8c22a542e771bf11a0...,0,0,c6f3ac57944a531490cd39902d0f777715fd005efac9a3...,1,61.55,1,2021,8,1052.88
10,f08c3f551a19f1ce13525825dbf0d0ce9c3492da92bbb2...,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,2022-07-14,10:16:52,20ca98162ba780883712eb701c84e4c06f73aba78e9039...,a77b6cbdf6fae1676369dea1e1ea675e4c2400c9e43bd5...,0,0,96061e92f58e4bdcdee73df36183fe3ac64747c81c26f6...,1,55.46,1,2022,16,787.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1741337,52a39652c7b3db7eedbba20c16b4e68df6f514bec1ad79...,34bef92c568790d6e1e68a3ba24b89390395295a49783d...,2023-04-21,13:24:41,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,135.23,1,2023,2,262.99
1741338,655038f142aea0104f73671352b3304617b8d19801495a...,b79256341d874ddd572f6dabc83190ada87eea6262c81e...,2023-04-08,10:49:02,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,f32828acecb4282c87eaa554d2e1db74e418cd68458430...,1,183.92,1,2023,14,1562.74
1741339,4e4f5fcded3e8b6915e05c6b9b504ec6830f723a831f68...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-12-29,19:47:12,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,3068430da9e4b7a674184035643d9e19af3dc7483e31cc...,1,156.00,1,2023,59,10370.55
1741342,18b75368642c6c347fd00f56cd98322bb6d920b6a07545...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-01-08,23:57:55,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,294.99,1,2023,59,10370.55
1741343,113a96cafbc0fc70ab6cfba8bc017c57e720366265820c...,3b3d7594bde1223635a1f2fd8b547172e689ed8d711f84...,2023-01-14,21:40:39,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,158.95,1,2023,13,2690.66

### Criando o df de clientes

In [146]:
df_clientes = df[['fk_contact', 'total_gasto', 'qtd_compras']].drop_duplicates(subset='fk_contact')
df_clientes

,fk_contact,total_gasto,qtd_compras
4,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,85.92,2
5,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,576.64,3
6,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,750.89,5
9,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,1052.88,8
10,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,787.83,16
...,...,...,...
1741290,288badf9db70fb03e2e52d33ab457ed9cfe8a49da619ea...,569.57,1
1741303,d12278427cbc5e27da4a980be4fd8c0b7e37d87463eabc...,76.78,1
1741315,afaa1dc87e47c4e85da37bd81a4aef5ab978f18059fcb9...,82.48,1
1741329,3a25965864407d6122446ead42db3596b0ce265a32db93...,119.82,1
1741331,ecc023d38264f8e39c779b2e32565c9f07a676e43904de...,330.40,1

### Criando df vendas

In [147]:
df_vendas = df
df_vendas = df.drop(columns=['total_gasto', 'qtd_compras'])
df_vendas

,nk_ota_localizer_id,fk_contact,date_purchase,time_purchase,place_origin_departure,place_destination_departure,place_origin_return,place_destination_return,fk_departure_ota_bus_company,fk_return_ota_bus_company,gmv_success,total_tickets_quantity_success,ano
4,aa34ed7fd0a6b405df2df1bf9f8d68e6df9b9a868a6181...,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,2021-02-23,20:08:25,7688b6ef52555962d008fff894223582c484517cea7da4...,23765fc69c4e3c0b10f5d15471dc2245e2a19af16b513f...,0,0,48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c...,1,45.31,1,2021
5,948356b25b90c0c87c147cead27483c481edda1dacc4c8...,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,2021-02-11,22:25:15,d26eae87829adde551bf4b852f9da6b8c3c2db9b65b8b6...,482d9673cfee5de391f97fde4d1c84f9f8d6f2cf0784fc...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,154.20,1,2021
6,2ee9d0978acb5e113d0b3f846ab3f88c5a426321da8f87...,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,2021-02-19,19:11:40,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,be47addbcb8f60566a3d7fd5a36f8195798e2848b36819...,0,0,1d0ebea552eb43d0b1e1561f6de8ae92e3de7f1abec523...,1,188.99,1,2021
9,929cd361c225ec5d3510e14e8582fdcc61a24383cdb7a7...,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,2021-07-02,11:41:19,90b5bc7f03c840b2efddb22ffdfc37dd12cb391b49aa0f...,f6103ca1e01bd200a9258a366b7e8c22a542e771bf11a0...,0,0,c6f3ac57944a531490cd39902d0f777715fd005efac9a3...,1,61.55,1,2021
10,f08c3f551a19f1ce13525825dbf0d0ce9c3492da92bbb2...,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,2022-07-14,10:16:52,20ca98162ba780883712eb701c84e4c06f73aba78e9039...,a77b6cbdf6fae1676369dea1e1ea675e4c2400c9e43bd5...,0,0,96061e92f58e4bdcdee73df36183fe3ac64747c81c26f6...,1,55.46,1,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1741337,52a39652c7b3db7eedbba20c16b4e68df6f514bec1ad79...,34bef92c568790d6e1e68a3ba24b89390395295a49783d...,2023-04-21,13:24:41,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,135.23,1,2023
1741338,655038f142aea0104f73671352b3304617b8d19801495a...,b79256341d874ddd572f6dabc83190ada87eea6262c81e...,2023-04-08,10:49:02,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,f32828acecb4282c87eaa554d2e1db74e418cd68458430...,1,183.92,1,2023
1741339,4e4f5fcded3e8b6915e05c6b9b504ec6830f723a831f68...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-12-29,19:47:12,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,3068430da9e4b7a674184035643d9e19af3dc7483e31cc...,1,156.00,1,2023
1741342,18b75368642c6c347fd00f56cd98322bb6d920b6a07545...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-01-08,23:57:55,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,294.99,1,2023
1741343,113a96cafbc0fc70ab6cfba8bc017c57e720366265820c...,3b3d7594bde1223635a1f2fd8b547172e689ed8d711f84...,2023-01-14,21:40:39,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,158.95,1,2023

### Separando em PF/PJ

In [148]:
df_clientes['tp_pessoa'] = np.where(df_clientes['total_gasto'] >= 60000, 'PJ', 'PF')
df_clientes['tp_pessoa'].value_counts()

PF    375561
PJ        29
Name: tp_pessoa, dtype: int64

In [149]:
df_clientes

,fk_contact,total_gasto,qtd_compras,tp_pessoa
4,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,85.92,2,PF
5,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,576.64,3,PF
6,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,750.89,5,PF
9,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,1052.88,8,PF
10,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,787.83,16,PF
...,...,...,...,...
1741290,288badf9db70fb03e2e52d33ab457ed9cfe8a49da619ea...,569.57,1,PF
1741303,d12278427cbc5e27da4a980be4fd8c0b7e37d87463eabc...,76.78,1,PF
1741315,afaa1dc87e47c4e85da37bd81a4aef5ab978f18059fcb9...,82.48,1,PF
1741329,3a25965864407d6122446ead42db3596b0ce265a32db93...,119.82,1,PF
1741331,ecc023d38264f8e39c779b2e32565c9f07a676e43904de...,330.40,1,PF

### Colocando a data da ultima compra do cliente

In [150]:
df_clientes['ultima_compra'] = df_clientes['fk_contact'].map(df_vendas.groupby('fk_contact')['date_purchase'].max())
df_clientes

,fk_contact,total_gasto,qtd_compras,tp_pessoa,ultima_compra
4,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,85.92,2,PF,2021-02-27
5,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,576.64,3,PF,2021-07-02
6,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,750.89,5,PF,2021-09-03
9,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,1052.88,8,PF,2022-02-15
10,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,787.83,16,PF,2022-07-14
...,...,...,...,...,...
1741290,288badf9db70fb03e2e52d33ab457ed9cfe8a49da619ea...,569.57,1,PF,2022-02-26
1741303,d12278427cbc5e27da4a980be4fd8c0b7e37d87463eabc...,76.78,1,PF,2023-10-12
1741315,afaa1dc87e47c4e85da37bd81a4aef5ab978f18059fcb9...,82.48,1,PF,2022-12-18
1741329,3a25965864407d6122446ead42db3596b0ce265a32db93...,119.82,1,PF,2022-02-10
1741331,ecc023d38264f8e39c779b2e32565c9f07a676e43904de...,330.40,1,PF,2023-11-02

### Fazendo o RFM de PF

In [151]:
df_rfm = df_clientes[df_clientes['tp_pessoa'] == 'PF'].copy()
df_rfm['recency'] = (df_rfm['ultima_compra'].max() - df_rfm['ultima_compra']).dt.days
df_rfm['frequency'] = df_rfm['qtd_compras']
df_rfm['monetary'] = df_rfm['total_gasto']
df_rfm = df_rfm.drop(columns=['tp_pessoa','ultima_compra', 'qtd_compras', 'total_gasto'])
df_rfm

,fk_contact,recency,frequency,monetary
4,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,1129,2,85.92
5,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,1004,3,576.64
6,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,941,5,750.89
9,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,776,8,1052.88
10,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,627,16,787.83
...,...,...,...,...
1741290,288badf9db70fb03e2e52d33ab457ed9cfe8a49da619ea...,765,1,569.57
1741303,d12278427cbc5e27da4a980be4fd8c0b7e37d87463eabc...,172,1,76.78
1741315,afaa1dc87e47c4e85da37bd81a4aef5ab978f18059fcb9...,470,1,82.48
1741329,3a25965864407d6122446ead42db3596b0ce265a32db93...,781,1,119.82
1741331,ecc023d38264f8e39c779b2e32565c9f07a676e43904de...,151,1,330.40

In [152]:
scaler = StandardScaler()
amostra = df_rfm.sample(n=10000, random_state=42)
X_amostra = scaler.fit_transform(amostra[['recency', 'frequency', 'monetary']])

In [153]:
best_score = -1
best_k = 0

for k in range(2,11):
    modelo = MiniBatchKMeans(n_clusters=k, random_state=42, batch_size=2048)
    labels = modelo.fit_predict(X_amostra)
    score = silhouette_score(X_amostra, labels)
    print(f"Silhouette Score para k={k}: {score:.4f}")
    if score > best_score:
        best_score = score
        best_k = k
    
print(f"Melhor k: {best_k} com Silhouette Score: {best_score:.4f}")

Silhouette Score para k=2: 0.4730
Silhouette Score para k=3: 0.4951
Silhouette Score para k=4: 0.5055
Silhouette Score para k=5: 0.4406
Silhouette Score para k=6: 0.4131
Silhouette Score para k=7: 0.3352
Silhouette Score para k=8: 0.3339
Silhouette Score para k=9: 0.3657
Silhouette Score para k=10: 0.3114
Melhor k: 4 com Silhouette Score: 0.5055

In [154]:
X_full = scaler.transform(df_rfm[['recency', 'frequency', 'monetary']])
modelo_final = MiniBatchKMeans(n_clusters=best_k, random_state=42, batch_size=2048)
df_rfm['cluster'] = modelo_final.fit_predict(X_full)
df_rfm

,fk_contact,recency,frequency,monetary,cluster
4,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,1129,2,85.92,0
5,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,1004,3,576.64,0
6,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,941,5,750.89,0
9,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,776,8,1052.88,3
10,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,627,16,787.83,3
...,...,...,...,...,...
1741290,288badf9db70fb03e2e52d33ab457ed9cfe8a49da619ea...,765,1,569.57,3
1741303,d12278427cbc5e27da4a980be4fd8c0b7e37d87463eabc...,172,1,76.78,2
1741315,afaa1dc87e47c4e85da37bd81a4aef5ab978f18059fcb9...,470,1,82.48,3
1741329,3a25965864407d6122446ead42db3596b0ce265a32db93...,781,1,119.82,0
1741331,ecc023d38264f8e39c779b2e32565c9f07a676e43904de...,151,1,330.40,2

In [155]:
df_rfm.groupby('cluster')[['recency', 'frequency', 'monetary']].mean()

            recency  frequency     monetary
cluster
0        950.592456   1.469174   238.348405
1        159.476562  25.057292  3830.507425
2        142.977191   3.071695   507.256880
3        576.767439   1.929193   337.585866

In [156]:
mapa_clusters = {
    0: 'Pessoa - Dormindo',
    1: 'Pessoa - Super Vip',
    2: 'Pessoa - Potencial',
    3: 'Pessoa - Quase dormindo'}

df_rfm['cluster'] = df_rfm['cluster'].map(mapa_clusters)
df_rfm['cluster'].value_counts()

Pessoa - Potencial         149898
Pessoa - Quase dormindo    124479
Pessoa - Dormindo           89664
Pessoa - Super Vip          11520
Name: cluster, dtype: int64

### Fazendo RFM de PJ

In [157]:
df_clientes['grupo'] = df_clientes['fk_contact'].map(df_rfm.set_index('fk_contact')['cluster'])
df_clientes['grupo'].value_counts()

Pessoa - Potencial         149898
Pessoa - Quase dormindo    124479
Pessoa - Dormindo           89664
Pessoa - Super Vip          11520
Name: grupo, dtype: int64

In [158]:
df_rfm_pj = df_clientes[df_clientes['tp_pessoa'] == 'PJ'].copy()
df_rfm_pj['recency'] = (df_rfm_pj['ultima_compra'].max() - df_rfm_pj['ultima_compra']).dt.days
df_rfm_pj['frequency'] = df_rfm_pj['qtd_compras']
df_rfm_pj['monetary'] = df_rfm_pj['total_gasto']
df_rfm_pj = df_rfm_pj.drop(columns=['tp_pessoa','ultima_compra', 'qtd_compras', 'total_gasto', 'grupo'])
df_rfm_pj

,fk_contact,recency,frequency,monetary
2175,7e7da3ef66e3bd288700e0e602c90f2f595f6fe34eb779...,10,305,68015.59
2438,b5efd9a5e25940ea2d6d5409a2c9e0a9e1fb04e53bb77f...,6,137,78207.51
25166,44f31590757d1295fe486c9473e61ee694ffcd28cd94d4...,34,747,190209.93
25192,b5846076b65b23ffdf8d6f5b955b6a1f373d890b9ed711...,1,433,133072.71
25222,abeb819b168bf399eae398b4608575c8712bdfbda8292f...,468,303,94523.59
38293,22f999ba0bf9146dd68dd9fa4388dd86cbb43a82310874...,161,1203,308986.47
52531,c985c3881478216ad321f6e3cd015d129056efa996600a...,306,142,103602.41
76680,622856a3d200aaf0991d841858e6588c1b78a2e9f2b841...,213,389,129975.48
102958,da5ac478e47eec230ec3f40da3d74990539b543d2e2bfc...,606,100,61899.42
102971,8790c231b8d84922b61775bbafee2b4f1244a83859cdb7...,515,372,107178.88
102977,7e399aacd2be34e7be47ccefa5a41b0c5e55255851fb1d...,746,714,91090.92
115545,e50980a1556f143eca76d002bde7d81f5f289db7787df0...,468,433,74237.49
129147,fb204bec0ac5acf8abdcbfb78e19b1d3a173220e2f3704...,619,302,74657.80
130104,ae9d3c5066d904a925a94fe0f635d49918461435edc830...,19,69,68869.11
153465,df9c4aa7562df06d4d0a8c9b8cb3162304e83af4973828...,0,1043,454229.01
216591,86035797d706267c4fe1ec5f3bda893c7e2eec151fbbbe...,24,658,193058.02
217105,ec3b0f8cc185df671cf51814ea7a41dd4d108b9c958934...,3,933,139411.39
234660,0234710b2367f642caf92276e7ae45e4c61b1e0f2d21d6...,217,1022,280698.56
255543,58281b038b8b3c92ac06e8abc7e98eca7f55f274b64a5d...,32,278,100274.57
281634,19c0f84a99fe1f256dd2f7ac5dc9d8c6de04e529e28dc5...,21,163,63374.33
317262,ee193f469be08aceb5ef266d77712c8ff2d5bf7ea2c0c3...,4,483,140668.58
369086,d86b9318a3e227e04e5a2bf82750fd1260d310007560b3...,2,704,134529.65
386975,254ceb5b6a980503549ede094af9edb767dbe1d38052f7...,152,305,63408.04
520548,9cedaf166b2437941521daf1ecf9e0f47f29ac8226a5f7...,112,161,70968.75
520790,044956817c10ed6252af810c98547a005a6ed436128d03...,0,301,120613.79
553980,cca77fa593471b3228ae029aed49c85e4e12cf7e221f4e...,16,125,80410.87
576643,2e76f7dbe57d0805a361514858f0c41e1a199a7476b5a8...,0,199,84428.71
576731,9b2aaa6cb579549510678bdd7da33af4fb64780841bf81...,17,137,79212.56
709866,10e2a2e1409a90595988f5430527f75830bd55de04ff79...,39,172,82514.29

In [159]:
scaler = StandardScaler()
x = scaler.fit_transform(df_rfm_pj[['recency', 'frequency', 'monetary']])

In [160]:
best_k = 0
best_score = -1

for k in range(2,11):
    modelo = MiniBatchKMeans(n_clusters=k, random_state=42, batch_size=2048)
    labels = modelo.fit_predict(x)
    score = silhouette_score(x, labels)
    print(f"Silhouette Score para k={k}: {score:.4f}")
    if score > best_score:
        best_score = score
        best_k = k
        
print(f"Melhor k: {best_k} com Silhouette Score: {best_score:.4f}")

Silhouette Score para k=2: 0.4743
Silhouette Score para k=3: 0.5226
Silhouette Score para k=4: 0.5281
Silhouette Score para k=5: 0.4434
Silhouette Score para k=6: 0.4768
Silhouette Score para k=7: 0.4299
Silhouette Score para k=8: 0.3994
Silhouette Score para k=9: 0.3434
Silhouette Score para k=10: 0.3578
Melhor k: 4 com Silhouette Score: 0.5281

In [161]:
df_rfm_pj['cluster'] = modelo_final.fit_predict(x)
df_rfm_pj.groupby('cluster')[['recency', 'frequency', 'monetary']].mean()

            recency    frequency       monetary
cluster
0        126.000000  1089.333333  347971.346667
1         49.000000   210.846154   83867.200000
2         11.333333   659.666667  155158.380000
3        532.571429   338.000000   86741.501429

In [162]:
mapa_niveis_pj = {
    0: "Empresa - VIP Consistente",
    1: "Empresa - Ativo Recente",
    2: "Empresa - Super Ativo",
    3: "Empresa - Dormindo"
}

df_rfm_pj['cluster'] = df_rfm_pj['cluster'].map(mapa_niveis_pj)

In [163]:
df_rfm_pj['cluster'].value_counts()

Empresa - Ativo Recente      13
Empresa - Dormindo            7
Empresa - Super Ativo         6
Empresa - VIP Consistente     3
Name: cluster, dtype: int64

### Aplicando os GPs de PJ no df_cliente

In [164]:
df_clientes.loc[df_clientes['tp_pessoa'] == 'PJ', 'grupo'] = (
    df_clientes.loc[df_clientes['tp_pessoa'] == 'PJ', 'fk_contact']
    .map(df_rfm_pj.set_index('fk_contact')['cluster'])
)
df_clientes['grupo'].value_counts()

Pessoa - Potencial           149898
Pessoa - Quase dormindo      124479
Pessoa - Dormindo             89664
Pessoa - Super Vip            11520
Empresa - Ativo Recente          13
Empresa - Dormindo                7
Empresa - Super Ativo             6
Empresa - VIP Consistente         3
Name: grupo, dtype: int64

### Descobrindo os endereços mais visitados

In [165]:
df_vendas['place_destination_departure'].value_counts().head(10)

6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b    137967
7688b6ef52555962d008fff894223582c484517cea7da49ee67800adc7fc8866     82445
2fca346db656187102ce806ac732e06a62df0dbb2829e511a770556d398e1a6e     42839
4e07408562bedb8b60ce05c1decfe3ad16b72230967de01f640b7e4729b49fce     38172
81b8a03f97e8787c53fe1a86bda042b6f0de9b0ec9c09357e107c99ba4d6948a     30853
fbb2a73b0bacf3953186a92029e3e9b130373a9ff1449407e6125b3481f4f0ca     27044
4652614c4d8778e57a970722f142d832798c133a14b1232a92ffe26a0e98919e     23235
3ada92f28b4ceda38562ebf047c6ff05400d4c572352a1142eedfef67d21e662     15818
f369cb89fc627e668987007d121ed1eacdc01db9e28f8bb26f358b7d8c4f08ac     13452
48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c111b49baf362511afc     12995
Name: place_destination_departure, dtype: int64

In [166]:
top_10_cidades = {
    '6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b':     'São Paulo',
    '7688b6ef52555962d008fff894223582c484517cea7da49ee67800adc7fc8866':     'Rio de Janeiro',
    '2fca346db656187102ce806ac732e06a62df0dbb2829e511a770556d398e1a6e':     'Belo Horizonte',
    '4e07408562bedb8b60ce05c1decfe3ad16b72230967de01f640b7e4729b49fce':     'Curitiba',
    '81b8a03f97e8787c53fe1a86bda042b6f0de9b0ec9c09357e107c99ba4d6948a':     'Florianópolis',
    'fbb2a73b0bacf3953186a92029e3e9b130373a9ff1449407e6125b3481f4f0ca':     'Salvador',    
    '4652614c4d8778e57a970722f142d832798c133a14b1232a92ffe26a0e98919e':     'Campinas',
    '3ada92f28b4ceda38562ebf047c6ff05400d4c572352a1142eedfef67d21e662':     'Recife',
    'f369cb89fc627e668987007d121ed1eacdc01db9e28f8bb26f358b7d8c4f08ac':     'Ouro Preto',
    '48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c111b49baf362511afc':     'Praia Grande'
}

In [167]:
df_cidades = df_vendas['place_origin_departure'].drop_duplicates()
df_cidades.shape

(2425,)

In [168]:
df_cidades.duplicated().sum()

0

In [169]:
df_vendas['place_origin_departure'] = df_vendas['place_origin_departure'].replace(top_10_cidades)
df_vendas['place_origin_departure'].value_counts().head(20)

São Paulo                                                           158867
Rio de Janeiro                                                       94468
Belo Horizonte                                                       46163
Curitiba                                                             41660
Salvador                                                             35867
Florianópolis                                                        33754
Campinas                                                             24268
Ouro Preto                                                           18384
Praia Grande                                                         17745
Recife                                                               15843
d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f90da3a666eec13ab35     15296
d26eae87829adde551bf4b852f9da6b8c3c2db9b65b8b68870632a2db5f53e00     14241
eb624dbe56eb6620ae62080c10a273cab73ae8eca98ab17b731446a31c79393a     13259
ef2d127de37b942baad06145e54b0c619a1f22327b2ebbcfbec78f5564afe39d     13016
62f77e7d6197863ac98d9e0cfa76bea0c8e05379ed5281afbe72f7fc206fe37b     12712
9400f1b21cb527d7fa3d3eabba93557a18ebe7a2ca4e471cfe5e4c5b4ca7f767     10353
4ec24a2d7f1dfae1f98882eabf0400cd9483dd2de78b926b625c46e8787f3816     10142
5e968ce47ce4a17e3823c29332a39d049a8d0afb08d157eb6224625f92671a51      8985
6208ef0f7750c111548cf90b6ea1d0d0a66f6bff40dbef07cb45ec436263c7d6      8509
624b60c58c9d8bfb6ff1886c2fd605d2adeb6ea4da576068201b6c6958ce93f4      7772
Name: place_origin_departure, dtype: int64

In [170]:
df_vendas['place_destination_departure'] = df_vendas['place_destination_departure'].replace(top_10_cidades)
df_vendas['place_destination_return'] = df_vendas['place_destination_return'].replace(top_10_cidades)
df_vendas['place_origin_return'] = df_vendas['place_origin_return'].replace(top_10_cidades)
df_vendas

,nk_ota_localizer_id,fk_contact,date_purchase,time_purchase,place_origin_departure,place_destination_departure,place_origin_return,place_destination_return,fk_departure_ota_bus_company,fk_return_ota_bus_company,gmv_success,total_tickets_quantity_success,ano
4,aa34ed7fd0a6b405df2df1bf9f8d68e6df9b9a868a6181...,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,2021-02-23,20:08:25,Rio de Janeiro,23765fc69c4e3c0b10f5d15471dc2245e2a19af16b513f...,0,0,48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c...,1,45.31,1,2021
5,948356b25b90c0c87c147cead27483c481edda1dacc4c8...,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,2021-02-11,22:25:15,d26eae87829adde551bf4b852f9da6b8c3c2db9b65b8b6...,482d9673cfee5de391f97fde4d1c84f9f8d6f2cf0784fc...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,154.20,1,2021
6,2ee9d0978acb5e113d0b3f846ab3f88c5a426321da8f87...,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,2021-02-19,19:11:40,Belo Horizonte,be47addbcb8f60566a3d7fd5a36f8195798e2848b36819...,0,0,1d0ebea552eb43d0b1e1561f6de8ae92e3de7f1abec523...,1,188.99,1,2021
9,929cd361c225ec5d3510e14e8582fdcc61a24383cdb7a7...,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,2021-07-02,11:41:19,90b5bc7f03c840b2efddb22ffdfc37dd12cb391b49aa0f...,f6103ca1e01bd200a9258a366b7e8c22a542e771bf11a0...,0,0,c6f3ac57944a531490cd39902d0f777715fd005efac9a3...,1,61.55,1,2021
10,f08c3f551a19f1ce13525825dbf0d0ce9c3492da92bbb2...,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,2022-07-14,10:16:52,20ca98162ba780883712eb701c84e4c06f73aba78e9039...,a77b6cbdf6fae1676369dea1e1ea675e4c2400c9e43bd5...,0,0,96061e92f58e4bdcdee73df36183fe3ac64747c81c26f6...,1,55.46,1,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1741337,52a39652c7b3db7eedbba20c16b4e68df6f514bec1ad79...,34bef92c568790d6e1e68a3ba24b89390395295a49783d...,2023-04-21,13:24:41,São Paulo,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,135.23,1,2023
1741338,655038f142aea0104f73671352b3304617b8d19801495a...,b79256341d874ddd572f6dabc83190ada87eea6262c81e...,2023-04-08,10:49:02,Belo Horizonte,São Paulo,0,0,f32828acecb4282c87eaa554d2e1db74e418cd68458430...,1,183.92,1,2023
1741339,4e4f5fcded3e8b6915e05c6b9b504ec6830f723a831f68...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-12-29,19:47:12,Belo Horizonte,São Paulo,0,0,3068430da9e4b7a674184035643d9e19af3dc7483e31cc...,1,156.00,1,2023
1741342,18b75368642c6c347fd00f56cd98322bb6d920b6a07545...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-01-08,23:57:55,Belo Horizonte,São Paulo,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,294.99,1,2023
1741343,113a96cafbc0fc70ab6cfba8bc017c57e720366265820c...,3b3d7594bde1223635a1f2fd8b547172e689ed8d711f84...,2023-01-14,21:40:39,Belo Horizonte,São Paulo,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,158.95,1,2023

### Gasto médio de cada cliente

In [171]:
df_clientes['ticket_medio'] = df_clientes['total_gasto'] / df_clientes['qtd_compras']
df_clientes['ticket_medio'] = df_clientes['ticket_medio'].round(2)
df_clientes

,fk_contact,total_gasto,qtd_compras,tp_pessoa,ultima_compra,grupo,ticket_medio
4,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,85.92,2,PF,2021-02-27,Pessoa - Dormindo,42.96
5,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,576.64,3,PF,2021-07-02,Pessoa - Dormindo,192.21
6,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,750.89,5,PF,2021-09-03,Pessoa - Dormindo,150.18
9,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,1052.88,8,PF,2022-02-15,Pessoa - Quase dormindo,131.61
10,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,787.83,16,PF,2022-07-14,Pessoa - Quase dormindo,49.24
...,...,...,...,...,...,...,...
1741290,288badf9db70fb03e2e52d33ab457ed9cfe8a49da619ea...,569.57,1,PF,2022-02-26,Pessoa - Quase dormindo,569.57
1741303,d12278427cbc5e27da4a980be4fd8c0b7e37d87463eabc...,76.78,1,PF,2023-10-12,Pessoa - Potencial,76.78
1741315,afaa1dc87e47c4e85da37bd81a4aef5ab978f18059fcb9...,82.48,1,PF,2022-12-18,Pessoa - Quase dormindo,82.48
1741329,3a25965864407d6122446ead42db3596b0ce265a32db93...,119.82,1,PF,2022-02-10,Pessoa - Dormindo,119.82
1741331,ecc023d38264f8e39c779b2e32565c9f07a676e43904de...,330.40,1,PF,2023-11-02,Pessoa - Potencial,330.40

### Visualizando as empresas onibus

In [172]:
df_viacao = df_vendas['fk_departure_ota_bus_company'].drop_duplicates()
df_viacao['total_gasto'] = df_vendas.groupby('')['gmv_success'].transform('sum')

KeyError: ''

In [ ]:
df_dashboard = df