### Importando as bibliotecas

In [5]:
import os
import pandas as pd
import numpy as np
from dotenv import load_dotenv
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

### Puxando o df

In [6]:
load_dotenv()
processed = os.getenv("DATA_PROCESSED_PATH")
df = pd.read_parquet(processed)
df

,nk_ota_localizer_id,fk_contact,date_purchase,time_purchase,place_origin_departure,place_destination_departure,place_origin_return,place_destination_return,fk_departure_ota_bus_company,fk_return_ota_bus_company,gmv_success,total_tickets_quantity_success
0,bc02d5245bec63b30ff1102fa273fc03f58bc9cc3f674e...,a7218ff4ee7d37d48d2b4391b955627cb089870b934912...,2018-12-26,15:33:35,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,50e9a8665b62c8d68bccc77c7c92431a1aa26ccbd38ed4...,0,0,8527a891e224136950ff32ca212b45bc93f69fbb801c3b...,1,89.09,1
1,5432f12612dd5d749b3be880e779989cf63b5efa4bcc4e...,37228485e0dc83d84d1bcd1bef3dc632301bf6cb22c8b5...,2018-12-05,15:07:57,10e4e7caf8b078429bb1c80b1a10118ac6f963eff098fd...,e6d41d208672a4e50b86d959f4a6254975e6fb9b088116...,0,0,36ebe205bcdfc499a25e6923f4450fa8d48196ceb4fa0c...,1,155.97,1
2,fb3caed9b2f1b6016d45ccddb19095476e61a2c85faa8e...,3467ec081e2421e72c96e7203b929d21927fd00b6b5f28...,2018-12-21,18:41:54,7688b6ef52555962d008fff894223582c484517cea7da4...,8c1f1046219ddd216a023f792356ddf127fce372a72ec9...,0,0,ec2e990b934dde55cb87300629cedfc21b15cd28bbcf77...,1,121.99,1
3,4dc44a6dd592b702feccb493d192210c86965aee684529...,ab3251a2be0f69713b8f97b0e9d1579e31551f4fd4facf...,2018-12-06,14:01:38,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,d6acb3c1a79e57bcc03d976cb4d98f56edccd4cf426392...,0,0,5f9c4ab08cac7457e9111a30e4664920607ea2c115a143...,1,55.22,1
4,aa34ed7fd0a6b405df2df1bf9f8d68e6df9b9a868a6181...,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,2021-02-23,20:08:25,7688b6ef52555962d008fff894223582c484517cea7da4...,23765fc69c4e3c0b10f5d15471dc2245e2a19af16b513f...,0,0,48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c...,1,45.31,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1741339,4e4f5fcded3e8b6915e05c6b9b504ec6830f723a831f68...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-12-29,19:47:12,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,3068430da9e4b7a674184035643d9e19af3dc7483e31cc...,1,156.00,1
1741340,8bcfd696bb80f3433449c1442e4c6bab55d4bce9fe4311...,be5b840765a5a2e316478410777a949fb6210cfe310fdf...,2019-08-01,10:06:37,7688b6ef52555962d008fff894223582c484517cea7da4...,37834f2f25762f23e1f74a531cbe445db73d6765ebe608...,0,0,ec2e990b934dde55cb87300629cedfc21b15cd28bbcf77...,1,106.93,2
1741341,1924fa1e8daf5821b3d062ac29d1ba56c70a54b41a177b...,72b052cfc6d04db064a5723e2faee0296e09d5e59689f1...,2019-01-18,10:28:42,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,0,0,c17edaae86e4016a583e098582f6dbf3eccade8ef83747...,1,92.77,1
1741342,18b75368642c6c347fd00f56cd98322bb6d920b6a07545...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-01-08,23:57:55,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,294.99,1
1741343,113a96cafbc0fc70ab6cfba8bc017c57e720366265820c...,3b3d7594bde1223635a1f2fd8b547172e689ed8d711f84...,2023-01-14,21:40:39,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,158.95,1

### Pegando o range de data

In [7]:
data_max = df['date_purchase'].max()
data_min = df['date_purchase'].min()

print(f"Data range: {data_min} -> {data_max}")

Data range: 2013-09-12 00:00:00 -> 2024-04-01 00:00:00

### Qtd de vendas em cada ano

In [8]:
df['ano'] = df['date_purchase'].dt.year
df.groupby('ano')['fk_contact'].count()

ano
2013       341
2014     15182
2015     29651
2016     54618
2017     81354
2018    100277
2019    180935
2020    145669
2021    262649
2022    380073
2023    383163
2024    107425
Name: fk_contact, dtype: int64

In [9]:
anos_desejados = [2021, 2022, 2023, 2024]
df_filtrado = df[df['ano'].isin(anos_desejados)]

df_filtrado.shape

(1133310, 13)

### 2021 -> 2024 existe a maioria das vendas do df, entÃ£o vamos pegar apenas essa maior parte do df

In [10]:
df = df[df['date_purchase'] >= '2021-01-01']
df

,nk_ota_localizer_id,fk_contact,date_purchase,time_purchase,place_origin_departure,place_destination_departure,place_origin_return,place_destination_return,fk_departure_ota_bus_company,fk_return_ota_bus_company,gmv_success,total_tickets_quantity_success,ano
4,aa34ed7fd0a6b405df2df1bf9f8d68e6df9b9a868a6181...,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,2021-02-23,20:08:25,7688b6ef52555962d008fff894223582c484517cea7da4...,23765fc69c4e3c0b10f5d15471dc2245e2a19af16b513f...,0,0,48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c...,1,45.31,1,2021
5,948356b25b90c0c87c147cead27483c481edda1dacc4c8...,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,2021-02-11,22:25:15,d26eae87829adde551bf4b852f9da6b8c3c2db9b65b8b6...,482d9673cfee5de391f97fde4d1c84f9f8d6f2cf0784fc...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,154.20,1,2021
6,2ee9d0978acb5e113d0b3f846ab3f88c5a426321da8f87...,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,2021-02-19,19:11:40,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,be47addbcb8f60566a3d7fd5a36f8195798e2848b36819...,0,0,1d0ebea552eb43d0b1e1561f6de8ae92e3de7f1abec523...,1,188.99,1,2021
9,929cd361c225ec5d3510e14e8582fdcc61a24383cdb7a7...,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,2021-07-02,11:41:19,90b5bc7f03c840b2efddb22ffdfc37dd12cb391b49aa0f...,f6103ca1e01bd200a9258a366b7e8c22a542e771bf11a0...,0,0,c6f3ac57944a531490cd39902d0f777715fd005efac9a3...,1,61.55,1,2021
10,f08c3f551a19f1ce13525825dbf0d0ce9c3492da92bbb2...,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,2022-07-14,10:16:52,20ca98162ba780883712eb701c84e4c06f73aba78e9039...,a77b6cbdf6fae1676369dea1e1ea675e4c2400c9e43bd5...,0,0,96061e92f58e4bdcdee73df36183fe3ac64747c81c26f6...,1,55.46,1,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1741337,52a39652c7b3db7eedbba20c16b4e68df6f514bec1ad79...,34bef92c568790d6e1e68a3ba24b89390395295a49783d...,2023-04-21,13:24:41,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,135.23,1,2023
1741338,655038f142aea0104f73671352b3304617b8d19801495a...,b79256341d874ddd572f6dabc83190ada87eea6262c81e...,2023-04-08,10:49:02,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,f32828acecb4282c87eaa554d2e1db74e418cd68458430...,1,183.92,1,2023
1741339,4e4f5fcded3e8b6915e05c6b9b504ec6830f723a831f68...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-12-29,19:47:12,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,3068430da9e4b7a674184035643d9e19af3dc7483e31cc...,1,156.00,1,2023
1741342,18b75368642c6c347fd00f56cd98322bb6d920b6a07545...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-01-08,23:57:55,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,294.99,1,2023
1741343,113a96cafbc0fc70ab6cfba8bc017c57e720366265820c...,3b3d7594bde1223635a1f2fd8b547172e689ed8d711f84...,2023-01-14,21:40:39,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,158.95,1,2023

### Volume financeiro no perÃ­odo

In [11]:
vlm_financeiro = df['gmv_success'].sum()
vlm_financeiro = round(vlm_financeiro, 2)
print(f"Volume financeiro: R${vlm_financeiro}")

Volume financeiro: R$187230188.32

### Criando coluna de qtd de compras de cada cliente

In [12]:
df['qtd_compras'] = df['fk_contact'].map(df['fk_contact'].value_counts())
df

C:\Users\pedro\AppData\Local\Temp\ipykernel_20440\2873861594.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['qtd_compras'] = df['fk_contact'].map(df['fk_contact'].value_counts())

,nk_ota_localizer_id,fk_contact,date_purchase,time_purchase,place_origin_departure,place_destination_departure,place_origin_return,place_destination_return,fk_departure_ota_bus_company,fk_return_ota_bus_company,gmv_success,total_tickets_quantity_success,ano,qtd_compras
4,aa34ed7fd0a6b405df2df1bf9f8d68e6df9b9a868a6181...,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,2021-02-23,20:08:25,7688b6ef52555962d008fff894223582c484517cea7da4...,23765fc69c4e3c0b10f5d15471dc2245e2a19af16b513f...,0,0,48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c...,1,45.31,1,2021,2
5,948356b25b90c0c87c147cead27483c481edda1dacc4c8...,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,2021-02-11,22:25:15,d26eae87829adde551bf4b852f9da6b8c3c2db9b65b8b6...,482d9673cfee5de391f97fde4d1c84f9f8d6f2cf0784fc...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,154.20,1,2021,3
6,2ee9d0978acb5e113d0b3f846ab3f88c5a426321da8f87...,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,2021-02-19,19:11:40,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,be47addbcb8f60566a3d7fd5a36f8195798e2848b36819...,0,0,1d0ebea552eb43d0b1e1561f6de8ae92e3de7f1abec523...,1,188.99,1,2021,5
9,929cd361c225ec5d3510e14e8582fdcc61a24383cdb7a7...,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,2021-07-02,11:41:19,90b5bc7f03c840b2efddb22ffdfc37dd12cb391b49aa0f...,f6103ca1e01bd200a9258a366b7e8c22a542e771bf11a0...,0,0,c6f3ac57944a531490cd39902d0f777715fd005efac9a3...,1,61.55,1,2021,8
10,f08c3f551a19f1ce13525825dbf0d0ce9c3492da92bbb2...,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,2022-07-14,10:16:52,20ca98162ba780883712eb701c84e4c06f73aba78e9039...,a77b6cbdf6fae1676369dea1e1ea675e4c2400c9e43bd5...,0,0,96061e92f58e4bdcdee73df36183fe3ac64747c81c26f6...,1,55.46,1,2022,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1741337,52a39652c7b3db7eedbba20c16b4e68df6f514bec1ad79...,34bef92c568790d6e1e68a3ba24b89390395295a49783d...,2023-04-21,13:24:41,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,135.23,1,2023,2
1741338,655038f142aea0104f73671352b3304617b8d19801495a...,b79256341d874ddd572f6dabc83190ada87eea6262c81e...,2023-04-08,10:49:02,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,f32828acecb4282c87eaa554d2e1db74e418cd68458430...,1,183.92,1,2023,14
1741339,4e4f5fcded3e8b6915e05c6b9b504ec6830f723a831f68...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-12-29,19:47:12,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,3068430da9e4b7a674184035643d9e19af3dc7483e31cc...,1,156.00,1,2023,59
1741342,18b75368642c6c347fd00f56cd98322bb6d920b6a07545...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-01-08,23:57:55,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,294.99,1,2023,59
1741343,113a96cafbc0fc70ab6cfba8bc017c57e720366265820c...,3b3d7594bde1223635a1f2fd8b547172e689ed8d711f84...,2023-01-14,21:40:39,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,158.95,1,2023,13

In [13]:
df['total_gasto'] = df.groupby('fk_contact')['gmv_success'].transform('sum')
df['total_gasto'] = df['total_gasto'].round(2)
df

C:\Users\pedro\AppData\Local\Temp\ipykernel_20440\1675898690.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_gasto'] = df.groupby('fk_contact')['gmv_success'].transform('sum')
C:\Users\pedro\AppData\Local\Temp\ipykernel_20440\1675898690.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_gasto'] = df['total_gasto'].round(2)

,nk_ota_localizer_id,fk_contact,date_purchase,time_purchase,place_origin_departure,place_destination_departure,place_origin_return,place_destination_return,fk_departure_ota_bus_company,fk_return_ota_bus_company,gmv_success,total_tickets_quantity_success,ano,qtd_compras,total_gasto
4,aa34ed7fd0a6b405df2df1bf9f8d68e6df9b9a868a6181...,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,2021-02-23,20:08:25,7688b6ef52555962d008fff894223582c484517cea7da4...,23765fc69c4e3c0b10f5d15471dc2245e2a19af16b513f...,0,0,48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c...,1,45.31,1,2021,2,85.92
5,948356b25b90c0c87c147cead27483c481edda1dacc4c8...,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,2021-02-11,22:25:15,d26eae87829adde551bf4b852f9da6b8c3c2db9b65b8b6...,482d9673cfee5de391f97fde4d1c84f9f8d6f2cf0784fc...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,154.20,1,2021,3,576.64
6,2ee9d0978acb5e113d0b3f846ab3f88c5a426321da8f87...,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,2021-02-19,19:11:40,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,be47addbcb8f60566a3d7fd5a36f8195798e2848b36819...,0,0,1d0ebea552eb43d0b1e1561f6de8ae92e3de7f1abec523...,1,188.99,1,2021,5,750.89
9,929cd361c225ec5d3510e14e8582fdcc61a24383cdb7a7...,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,2021-07-02,11:41:19,90b5bc7f03c840b2efddb22ffdfc37dd12cb391b49aa0f...,f6103ca1e01bd200a9258a366b7e8c22a542e771bf11a0...,0,0,c6f3ac57944a531490cd39902d0f777715fd005efac9a3...,1,61.55,1,2021,8,1052.88
10,f08c3f551a19f1ce13525825dbf0d0ce9c3492da92bbb2...,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,2022-07-14,10:16:52,20ca98162ba780883712eb701c84e4c06f73aba78e9039...,a77b6cbdf6fae1676369dea1e1ea675e4c2400c9e43bd5...,0,0,96061e92f58e4bdcdee73df36183fe3ac64747c81c26f6...,1,55.46,1,2022,16,787.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1741337,52a39652c7b3db7eedbba20c16b4e68df6f514bec1ad79...,34bef92c568790d6e1e68a3ba24b89390395295a49783d...,2023-04-21,13:24:41,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,135.23,1,2023,2,262.99
1741338,655038f142aea0104f73671352b3304617b8d19801495a...,b79256341d874ddd572f6dabc83190ada87eea6262c81e...,2023-04-08,10:49:02,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,f32828acecb4282c87eaa554d2e1db74e418cd68458430...,1,183.92,1,2023,14,1562.74
1741339,4e4f5fcded3e8b6915e05c6b9b504ec6830f723a831f68...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-12-29,19:47:12,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,3068430da9e4b7a674184035643d9e19af3dc7483e31cc...,1,156.00,1,2023,59,10370.55
1741342,18b75368642c6c347fd00f56cd98322bb6d920b6a07545...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-01-08,23:57:55,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,294.99,1,2023,59,10370.55
1741343,113a96cafbc0fc70ab6cfba8bc017c57e720366265820c...,3b3d7594bde1223635a1f2fd8b547172e689ed8d711f84...,2023-01-14,21:40:39,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,158.95,1,2023,13,2690.66

### Criando o df de clientes

In [14]:
df_clientes = df[['fk_contact', 'total_gasto', 'qtd_compras']].drop_duplicates(subset='fk_contact')
df_clientes

,fk_contact,total_gasto,qtd_compras
4,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,85.92,2
5,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,576.64,3
6,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,750.89,5
9,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,1052.88,8
10,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,787.83,16
...,...,...,...
1741290,288badf9db70fb03e2e52d33ab457ed9cfe8a49da619ea...,569.57,1
1741303,d12278427cbc5e27da4a980be4fd8c0b7e37d87463eabc...,76.78,1
1741315,afaa1dc87e47c4e85da37bd81a4aef5ab978f18059fcb9...,82.48,1
1741329,3a25965864407d6122446ead42db3596b0ce265a32db93...,119.82,1
1741331,ecc023d38264f8e39c779b2e32565c9f07a676e43904de...,330.40,1

### Criando df vendas

In [15]:
df_vendas = df
df_vendas = df.drop(columns=['total_gasto', 'qtd_compras'])
df_vendas

,nk_ota_localizer_id,fk_contact,date_purchase,time_purchase,place_origin_departure,place_destination_departure,place_origin_return,place_destination_return,fk_departure_ota_bus_company,fk_return_ota_bus_company,gmv_success,total_tickets_quantity_success,ano
4,aa34ed7fd0a6b405df2df1bf9f8d68e6df9b9a868a6181...,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,2021-02-23,20:08:25,7688b6ef52555962d008fff894223582c484517cea7da4...,23765fc69c4e3c0b10f5d15471dc2245e2a19af16b513f...,0,0,48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c...,1,45.31,1,2021
5,948356b25b90c0c87c147cead27483c481edda1dacc4c8...,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,2021-02-11,22:25:15,d26eae87829adde551bf4b852f9da6b8c3c2db9b65b8b6...,482d9673cfee5de391f97fde4d1c84f9f8d6f2cf0784fc...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,154.20,1,2021
6,2ee9d0978acb5e113d0b3f846ab3f88c5a426321da8f87...,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,2021-02-19,19:11:40,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,be47addbcb8f60566a3d7fd5a36f8195798e2848b36819...,0,0,1d0ebea552eb43d0b1e1561f6de8ae92e3de7f1abec523...,1,188.99,1,2021
9,929cd361c225ec5d3510e14e8582fdcc61a24383cdb7a7...,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,2021-07-02,11:41:19,90b5bc7f03c840b2efddb22ffdfc37dd12cb391b49aa0f...,f6103ca1e01bd200a9258a366b7e8c22a542e771bf11a0...,0,0,c6f3ac57944a531490cd39902d0f777715fd005efac9a3...,1,61.55,1,2021
10,f08c3f551a19f1ce13525825dbf0d0ce9c3492da92bbb2...,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,2022-07-14,10:16:52,20ca98162ba780883712eb701c84e4c06f73aba78e9039...,a77b6cbdf6fae1676369dea1e1ea675e4c2400c9e43bd5...,0,0,96061e92f58e4bdcdee73df36183fe3ac64747c81c26f6...,1,55.46,1,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1741337,52a39652c7b3db7eedbba20c16b4e68df6f514bec1ad79...,34bef92c568790d6e1e68a3ba24b89390395295a49783d...,2023-04-21,13:24:41,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,135.23,1,2023
1741338,655038f142aea0104f73671352b3304617b8d19801495a...,b79256341d874ddd572f6dabc83190ada87eea6262c81e...,2023-04-08,10:49:02,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,f32828acecb4282c87eaa554d2e1db74e418cd68458430...,1,183.92,1,2023
1741339,4e4f5fcded3e8b6915e05c6b9b504ec6830f723a831f68...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-12-29,19:47:12,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,3068430da9e4b7a674184035643d9e19af3dc7483e31cc...,1,156.00,1,2023
1741342,18b75368642c6c347fd00f56cd98322bb6d920b6a07545...,6b45fe9186baa7894b96bc7cdb801ce2c14427992217a5...,2023-01-08,23:57:55,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,1,294.99,1,2023
1741343,113a96cafbc0fc70ab6cfba8bc017c57e720366265820c...,3b3d7594bde1223635a1f2fd8b547172e689ed8d711f84...,2023-01-14,21:40:39,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,0,1dfacb2ea5a03e0a915999e03b5a56196f1b1664d2f768...,1,158.95,1,2023

### Separando em PF/PJ

In [16]:
df_clientes['tp_pessoa'] = np.where(df_clientes['total_gasto'] >= 60000, 'PJ', 'PF')
df_clientes['tp_pessoa'].value_counts()

PF    375561
PJ        29
Name: tp_pessoa, dtype: int64

In [17]:
df_clientes

,fk_contact,total_gasto,qtd_compras,tp_pessoa
4,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,85.92,2,PF
5,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,576.64,3,PF
6,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,750.89,5,PF
9,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,1052.88,8,PF
10,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,787.83,16,PF
...,...,...,...,...
1741290,288badf9db70fb03e2e52d33ab457ed9cfe8a49da619ea...,569.57,1,PF
1741303,d12278427cbc5e27da4a980be4fd8c0b7e37d87463eabc...,76.78,1,PF
1741315,afaa1dc87e47c4e85da37bd81a4aef5ab978f18059fcb9...,82.48,1,PF
1741329,3a25965864407d6122446ead42db3596b0ce265a32db93...,119.82,1,PF
1741331,ecc023d38264f8e39c779b2e32565c9f07a676e43904de...,330.40,1,PF

### Colocando a data da ultima compra do cliente

In [18]:
df_clientes['ultima_compra'] = df_clientes['fk_contact'].map(df_vendas.groupby('fk_contact')['date_purchase'].max())
df_clientes

,fk_contact,total_gasto,qtd_compras,tp_pessoa,ultima_compra
4,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,85.92,2,PF,2021-02-27
5,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,576.64,3,PF,2021-07-02
6,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,750.89,5,PF,2021-09-03
9,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,1052.88,8,PF,2022-02-15
10,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,787.83,16,PF,2022-07-14
...,...,...,...,...,...
1741290,288badf9db70fb03e2e52d33ab457ed9cfe8a49da619ea...,569.57,1,PF,2022-02-26
1741303,d12278427cbc5e27da4a980be4fd8c0b7e37d87463eabc...,76.78,1,PF,2023-10-12
1741315,afaa1dc87e47c4e85da37bd81a4aef5ab978f18059fcb9...,82.48,1,PF,2022-12-18
1741329,3a25965864407d6122446ead42db3596b0ce265a32db93...,119.82,1,PF,2022-02-10
1741331,ecc023d38264f8e39c779b2e32565c9f07a676e43904de...,330.40,1,PF,2023-11-02

### Fazendo o RFM

In [19]:
df_rfm = df_clientes[df_clientes['tp_pessoa'] == 'PF'].copy()
df_rfm['recency'] = (df_rfm['ultima_compra'].max() - df_rfm['ultima_compra']).dt.days
df_rfm['frequency'] = df_rfm['qtd_compras']
df_rfm['monetary'] = df_rfm['total_gasto']
df_rfm = df_rfm.drop(columns=['tp_pessoa','ultima_compra', 'qtd_compras', 'total_gasto'])
df_rfm

,fk_contact,recency,frequency,monetary
4,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,1129,2,85.92
5,37f13b6dae3cfd6e82caf88c4e361a5b2035b66c383ba2...,1004,3,576.64
6,e15109b0b8e9f6f1554e560837eb55543f035f91d8be4f...,941,5,750.89
9,f914295cdc6f40aae952cd1457650eac8a6f74a57a4923...,776,8,1052.88
10,17427df9b085e934834e8fe1b6bce73f46f75facfa7f91...,627,16,787.83
...,...,...,...,...
1741290,288badf9db70fb03e2e52d33ab457ed9cfe8a49da619ea...,765,1,569.57
1741303,d12278427cbc5e27da4a980be4fd8c0b7e37d87463eabc...,172,1,76.78
1741315,afaa1dc87e47c4e85da37bd81a4aef5ab978f18059fcb9...,470,1,82.48
1741329,3a25965864407d6122446ead42db3596b0ce265a32db93...,781,1,119.82
1741331,ecc023d38264f8e39c779b2e32565c9f07a676e43904de...,151,1,330.40

In [20]:
scaler = StandardScaler()
x = scaler.fit_transform(df_rfm[['recency','frequency','monetary']])

In [ ]:
best_k = 0
best_silhouette = -1

for k in range(2, 11):
    kmeans = KMeans(n_clusters=k, random_state=42)
    labels = kmeans.fit_predict(x)
    score = silhouette_score(x, labels)
    print(f"k = {k} â†’ Silhouette Score: {score:.4f}")
    
    if score > best_silhouette:
        best_k = k
        best_silhouette = score
        
print(f"\nMelhor K encontrado: {best_k} com score {best_silhouette:.4f}")